<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <appSettings>
        <!-- Azure Storage: movmentinoutdetections -->
        <add key="movmentinoutdetections_AzureStorageConnectionString"
            value="DefaultEndpointsProtocol=https;AccountName=movmentinoutdetections;AccountKey=ynDKH3b0JgCB23M9WEm5k/00GsYUWHfWYHm9wUvxPayFrAfeI1VWq24/zwUELMTJPk6gJfLDpF6EhFEMi5FcdQ==" />
    </appSettings>
</configuration>